








.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.54); 
}
.container {
    width: 100%;
}
.material-icons.md-48 { 
    font-size: 28px; 
}
.material-icons.md-48 { 
    color: green;
    margin: 20px; 
}
.material-icons.md-48.inactive { 
    color: #CCD1CC;
    margin: 20px; 
}
