body {
    position: relative;
    z-index: 0;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.container {
    width: 100%;
}

.material-icons.md-48 {
    font-size: 28px;
    color: green;
    margin: 20px;
}

.material-icons.md-48.inactive {
    color: #CCD1CC;
    margin: 20px;
}

#survey-language-top-spacer {
    height: 8vh;
    width: 100vw;
}

.survey-language-langbtn-container {
    /* margin-top: 15vw;
        margin-bottom: 15vw; */
    height: 50vh;
    width: 35vw;
}

.survey-language-langbtn-container>.md-raised {
    background-color: #c8e6c9;
}

.survey-language-button {
    width: 95%;
    height: 25%;
    font-size: 2.1em;
}

#survey-language-unit-prop-container {
    height: 15vh;
}

#survey-language-unit-prop-container>* {
    height: 40%;
    width: 45%;
    font-size: 1.4em;
}

#survey-language-property-select {
    width: 90%;
}

.cancelbtn-container>.md-raised {
    background-color: #d8e6c9;
}

#logout-button {
    padding: 5px 10px;
}

#instructionsButton {
    padding: 5px 10px;
    background-color: #d8e6c9;
}


/* Admin Side Nav Styling */

main.ng-scope,
.full-height {
    height: 100%;
}

md-sidenav md-content,
md-sidenav.full-height {
    background: #f1f1f1;
}

md-list .md-subheader {
    background: #222;
    color: #fff;
    text-transform: uppercase;
}

md-list {
    padding: 0px 0px 8px 0px;
}

#bg img {
    width: 85%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    opacity: .5;
    z-index: 100;
    pointer-events: none;
}

body {
    position: relative;
    z-index: 0;
}

@media (min-width: 800px) {
    #bg img {
        width: 40%;
        height: 85%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
        opacity: .5;
        z-index: 100;
        pointer-events: none;
        margin-top: 120px;
    }
}

@media (min-width: 600px) {
    md-sidenav {
        max-width: 250px;
    }
}

#thankyou-message {
    font-size: 175%;
}

#intro-message {
    font-size: 175%;
}

.header-survey-container {
    max-height: 120px;
    border-bottom: #d8e6c9 solid 3px;
}

.self-identify-input {
    margin-bottom: 0;
}

#headerImage {
    padding: 15px;
    max-width: 200px;
}

.cell-link {
    font-size: 16px;
    text-transform: none;
    margin-left: 0;
}

table.md-table th.md-column {
    color: #844444;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

table.md-table th.md-column.md-active,
table.md-table th.md-column.md-active md-icon {
    color: #844444;
}

#admin-theme-select {
    width: 17%;
}

table.md-table td.md-cell {
    color: #222;
    font-size: 16px;
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

.md-select-menu-container.md-table-select .md-text {
    font-size: 16px;
}

#admin-reporting-propselect-container {
    border: 2px solid green;
    border-radius: 10px;
}

.redText {
    color: #690707;
}

.yellowText {
    color: #BD9F1B;
}

.greenText {
    color: #0B7A0B;
}