<div layout="row" class="header-survey-container" layout-align="space-between center">
    <div flex>
        <div id="headerImage">
            <img src="../../assets/Website-logo-transparent.png" alt="Aeon logo">
        </div>
    </div>
    <div flex>
        <md-button class="md-raised md-" id="instructionsButton" ng-click="sc.help()">{{sc.surveyObject.instructions}}</md-button>
        <md-button class="md-raised md-" id="logout-button" md-nav-item ng-click="sc.UserService.logout()" name="logout">{{sc.surveyObject.logout}}</md-button>
    </div>

</div>