<div layout="row" class="header-survey-container" layout-align="center center">
    <div flex>
        <img id="headerImage" src="../../assets/Website-logo-transparent.png" alt="Aeon logo">
    </div>
    <div flex style="text-align:right;">
        <md-button class="md-raised" id="instructionsButton" ng-click="sc.help()">{{sc.surveyObject.instructions}}</md-button>
        <md-button class="md-raised" id="logout-button" md-nav-item ng-click="sc.UserService.logout()" name="logout">{{sc.surveyObject.logout}}</md-button>
    </div>
</div>