<md-nav-bar class="md-primary" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <!-- <md-button class ="md-raised md-primary" id="logout-button" md-nav-item md-nav-href="#/logout" name="logout">need translation for logout{{sc.surveyObject.logout}}</md-nav-item></md-button> -->
        <!-- <md-nav-item md-nav-href="#/instructions" name="instructions">Instructions{{sc.surveyObject.instructions}}</md-nav-item> -->
        <md-button class="md-raised md-primary navbar-left" id="instructionsButton" ng-click="sc.help()">{{sc.surveyObject.instructions}}</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary navbar-right" id="logout-button" md-nav-item md-nav-href="#/logout" name="logout">need translation for logout{{sc.surveyObject.logout}}</md-nav-item></md-button>

     </md-nav-bar>


    