<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 full-height" md-is-locked-open="$mdMedia('gt-sm')"
    flex>
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Admin Menu</md-subheader>
            <md-list-item ng-href="#/admin">
                <p>Imprt/Export CSV</p>
            </md-list-item>
            <md-list-item ng-href="#/admin-properties">
                <p>Edit Properties</p>
            </md-list-item>
            <md-list-item ng-href="#/admin-questions">
                <p>Edit Survey Questions</p>
            </md-list-item>
            <md-list-item ng-href="#/admin-users">
                <p>User Management</p>
            </md-list-item>
            <!-- <md-list-item ng-href="#/admin-site-manager">
                <p>Site Manager View TODO</p>
            </md-list-item> -->
        </md-list>
    </md-content>
</md-sidenav>