<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 full-height" md-is-locked-open="$mdMedia('gt-sm')"
    flex>
    <md-content>
        <md-list>
            <md-list-item ng-href="#/admin">
                <p>Import/Export Data</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="#/admin-properties">
                <p>Properties</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="#/admin-questions">
                <p>Survey Questions</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="#/admin-users" ng-click="ac.selectedSiteManager = false">
                <p>Users</p>
            </md-list-item>
            <md-divider></md-divider>            
            <md-list-item ng-href="#/admin-reporting">
                <p>Reporting</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-href="#/admin-site-manager">
                <p>Site Manager View</p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <div>
            <img style="max-width: 170px; padding: 20px 0  0 20px;" src="../../assets/Website-logo-transparent.png" alt="">
        </div>
    </md-content>
</md-sidenav>