<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="arc.openLeftMenu()" hide-gt-sm>
      Menu
    </md-button>
    <h2 md-truncate flex>Aeon Home Survey Admin</h2>
    <md-button ng-href="#/logout">
      Logout Need to Get This Working
    </md-button>
  </div>
</md-toolbar>
<div layout="row" class="full-height">

  <div ng-include="'views/partials/sidenav.html'"></div>

  <div id="admin-reporting-controls" layout="column" layout-align="start start">
    <md-button class="md-primary md-raised" ng-click="arc.chartTest()">Chart!</md-button>
    <md-select placeholder="Choose Year" ng-model="arc.yearToGet">
      <md-option ng-repeat="year in arc.yearsArray">{{year}}</md-option>
    </md-select>
    <md-select placeholder="Choose Property" ng-model="newProperty" ng-change="arc.addProperty(newProperty)">
      <md-option ng-repeat="property in arc.propertyList.list">{{property}}</md-option>
    </md-select>
    <form ng-submit="$event.preventDefault()">
      <md-autocomplete md-selected-item="arc.typedProperty" md-selected-item-change="arc.addProperty(arc.typedProperty);" md-search-text-change="arc.searchTextChange(arc.searchText)"
        md-search-text="arc.searchText" md-selected-item-change="arc.selectedItemChange(property)" md-items="property in arc.propertyList.list | filter: arc.searchText"
        md-item-text="item" md-min-length="0" placeholder="...or type a property name">
        <md-item-template>
          <span md-highlight-text="arc.searchText" md-highlight-flags="^i">{{property}}</span>
        </md-item-template>
        <md-not-found>
          No properties matching "{{arc.searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
    </form>
    <md-button class="md-raised" ng-click="arc.selectAllProperties = !arc.selectAllProperties" ng-class="{'md-accent': arc.selectAllProperties}">Select All Properties</md-button>
    <md-select placeholder="Choose Calculation" ng-model="calculation" ng-change="arc.runCalc(calculation)">
      <md-option ng-repeat="calc in arc.calcList">{{calc}}</md-option>
    </md-select>

  </div>

  <div id="admin-reporting-values-container" layout="column" layout-align="start start">
    <div id="admin-reporting-properties">
      {{arc.yearToGet}}
    </div>

    <div id="admin-reporting-properties" ng-show="!arc.selectAllProperties">
      <div class="admin-reporting-property" ng-repeat="property in arc.propertiesToGet">
        {{property}}
        <md-button class="md-warn" ng-click="arc.deleteProperty(property)">
          Delete
        </md-button>
      </div>
    </div>
  </div>
</div>

<!-- 
  select properties (multi-select)
    also: select "all"
  select year
    multi-year may be easy with spread op
    also: select "all"
  select calculation
    need to define calculations
  button: make chart
    take properties array and year, send the data off, then build the chart
-->
{{arc.selectAllProperties}}
<div class="chart-container">
  <canvas id="myChart" width="400" height="400"></canvas>

</div>
{{arc.AdminService.genderData}}