<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="ac.openLeftMenu()" hide-gt-sm>
      <i class="material-icons">menu</i>
    </md-button>
    <h2 md-truncate flex>Aeon Home Survey</h2>
    <md-button ng-click="ac.UserService.logout()">
      Logout
    </md-button>
  </div>
</md-toolbar>
<div layout="row" class="full-height">

  <div ng-include="'views/partials/sidenav.html'"></div>

  <md-content flex layout-padding>

    <div layout="column">
      <h1>Import/Export Occupancy CSV</h1>

      <section id="admin-upload-container">

        <!-- <input type="file" id="admin-file-input" name="admin-file-input" accept=".csv"> -->
        <h1>Import Property Data</h1>
        <input class="ng-hide" id="admin-file-input" type="file" name="admin-file-input" accept=".csv" />
        <label for="admin-file-input" class="md-button md-raised">Choose File</label>

        <md-input-container>
          <label>Year to Add</label>
          <md-select ng-model="ac.yearToAdd">
            <md-option ng-value="year" ng-repeat="year in ac.yearsArray">{{year}}</md-option>
          </md-select>
        </md-input-container>
        <div layout="row">
          <md-button ng-show="ac.validInput" class="md-raised md-primary" ng-click="ac.startUpload()">Upload</md-button>
        </div>
      </section>

      <section id="admin-export-container">
        <h1>Export Survey Response Data</h1>
        <md-input-container>
          <label>Year</label>
          <md-select ng-model="ac.yearToAdd">
            <md-option ng-value="year" ng-repeat="year in ac.yearsArray">{{year}}</md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-accent" ng-click="ac.exportAllResponses()">Export Data</md-button>
      </section>
    </div>
  </md-content>

</div>