<div ng-include="'views/partials/nav.html'"></div>
<div layout="row" layout-padding layout-margin>
    <div flex>
        <h1>Admin: Edit Properties Page</h1>

        <md-button href="#/admin" class="md-raised">Go Back</md-button>

        <h1>Add a Property</h1>
        <md-input-container>
            <label>Property Name</label>
            <input ng-model="apc.UserRolesService.newProperty.name" type="text">
        </md-input-container>
        <md-input-container>
            <label>Unit Number</label>
            <input ng-model="apc.UserRolesService.newProperty.unit" type="number">
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="apc.addNewProperty()">Add Property</md-button>

        <h1>Edit Unit</h1>
        <md-input-container>
            <label>Select a Property</label>
            <md-select ng-model="apc.UserRolesService.selectedProperty" placeholder="Select a Property">
                <md-option ng-value="property" ng-repeat="property in apc.UserRolesService.uniqueProperties">{{ property }}</md-option>
            </md-select>
        </md-input-container>
        <div layout="column" ng-if="apc.UserRolesService.selectedProperty">
            <h3>{{apc.UserRolesService.selectedProperty}}</h3>
            <div layout="row" layout-align="center center" ng-repeat="property in apc.UserRolesService.allProperties | filter: apc.UserRolesService.selectedProperty : true">
                <div flex>
                    <div class="md-subhead">Unit # {{property.unit}}</div>
                </div>
                <div flex>
                    <md-checkbox ng-model="property.occupied" ng-change="apc.UserRolesService.updateProperty(property)" aria-label="Occupied">Occupied?</md-checkbox>
                </div>
                <div flex>
                    <md-button class="md-raised md-warn" ng-click="apc.UserRolesService.deleteUnit(property.id)">Delete Unit</md-button>
                </div>
            </div>
        </div>
    </div>
</div>