<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="arc.openLeftMenu()" hide-gt-sm>
      Menu
    </md-button>
    <h2 md-truncate flex>Aeon Home Survey Admin</h2>
    <md-button ng-href="#/logout">
      Logout Need to Get This Working
    </md-button>
  </div>
</md-toolbar>
<div layout="row" class="full-height">

  <div ng-include="'views/partials/sidenav.html'"></div>

</div>

<!-- 
  select properties (multi-select)
    also: select "all"
  select year
    multi-year may be easy with spread op
    also: select "all"
  select calculation
    need to define calculations
  button: make chart
    take properties array and year, send the data off, then build the chart
-->

<div id="admin-reporting-controls">
  <md-button class="md-primary" ng-click="arc.chartTest()">Chart!</md-button>
  <md-select>
    <md-option></md-option>
  </md-select>
</div>
<div>
  <canvas id="myChart" width="400" height="400"></canvas>

</div>
{{arc.chartData}}