<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-click="apc.openLeftMenu()" hide-gt-sm>
            Menu
        </md-button>
        <h2 md-truncate flex>Aeon Home Survey Admin</h2>
        <md-button ng-click="apc.UserService.logout()">
            Logout
        </md-button>
    </div>
</md-toolbar>
<div layout="row" class="full-height" ng-cloak>

    <div ng-include="'views/partials/sidenav.html'"></div>

    <md-content flex layout-padding>

        <div layout="column">

            <div layout="row">
                <div flex>
                    <h1>Add a Property/Unit</h1>
                    <md-input-container>
                        <label>Property Name</label>
                        <input ng-model="apc.AdminService.newProperty.name" type="text">
                    </md-input-container>
                    <md-input-container>
                        <label>Unit Number</label>
                        <input ng-model="apc.AdminService.newProperty.unit" type="number">
                    </md-input-container>
                    <md-button class="md-primary md-raised" ng-click="apc.addNewProperty()">Add Property</md-button>
                </div>
            </div>
            <div layout="row">
                <div flex>
                    <h1>Edit Properties</h1>
                    <md-input-container>
                        <label>Select a Property</label>
                        <md-select ng-model="apc.selectedProperty" placeholder="Select a Property">
                            <md-option ng-value="property" ng-repeat="property in apc.AdminService.propertyList.list">{{ property }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="apc.getSelectedProperty(apc.selectedProperty)">Submit</md-button>
                </div>
            </div>
            <div layout="row" ng-if="apc.AdminService.showSelectedProperty">
                <div flex>
                    <h3>{{apc.selectedPropertyToEdit.list[0].property}}</h3>
                    <md-table-container>
                        <table md-table multiple ng-model="apc.selectedProperty" md-progress="promise">
                            <thead md-head md-order="myOrder">
                                <tr md-row>
                                    <th md-column md-order-by="unit">Unit</th>
                                    <th md-column md-order-by="occupied">Occupied</th>
                                    <th md-column></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="property" md-select-id="property" md-auto-select ng-repeat="property in apc.selectedPropertyToEdit.list | orderBy: myOrder"
                                    aria-label="users">
                                    <td md-cell>{{property.unit}}</td>
                                    <td md-cell>
                                    <md-checkbox ng-model="property.occupied" ng-change="apc.AdminService.updateOccupied(property)">Occupied</md-checkbox>
                                </td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" ng-click="apc.AdminService.deleteUnit(property.id)">
                                            <i class="material-icons">delete</i>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </div>

        </div>
    </md-content>

</div>