<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="ac.openLeftMenu()" hide-gt-sm>
      <i class="material-icons">menu</i>
    </md-button>
    <h2 md-truncate flex>Aeon Home Survey Administration</h2>
    <md-button ng-click="ac.UserService.logout()">
      Logout
    </md-button>
  </div>
</md-toolbar>
<div layout="row" class="full-height">

  <div ng-include="'views/partials/sidenav.html'"></div>

  <md-content flex layout-padding>

    <div layout="column">

      <div layout="row">
        <div flex>
          <h2 class="md-display-1">Admin | Import/Export Data</h2>
        </div>
      </div>
      <div layout="row">
        <div flex>
          <div class="response-rate-container">
            <h2>Overall {{ac.thisYear}} Response Rate:
              <span class="response-rate" ng-class="{'redText': ac.responseRate.rate < 50, 'yellowText': (ac.responseRate.rate >= 50) && (ac.responseRate.rate < 70), 'greenText': (ac.responseRate.rate >= 70)}">{{ac.responseRate.rate}}%</span>
            </h2>
          </div>
        </div>
      </div>
      <div layout="row">
        <div flex class="md-whiteframe-4dp" layout-padding layout-margin>
          <section id="admin-upload-container">

            <!-- <input type="file" id="admin-file-input" name="admin-file-input" accept=".csv"> -->
            <h3 class="md-headline">Import Property Data</h3>
            <md-input-container>
              <label>Select Year to Import</label>
              <md-select ng-model="ac.yearToAdd" style="min-width: 200px;">
                <md-option ng-value="year" ng-repeat="year in ac.yearsArray">{{year}}</md-option>
              </md-select>
            </md-input-container>
            <label for="admin-file-input" class="md-button md-raised md-primary">Choose File To Upload</label>
            <input class="ng-hide" id="admin-file-input" type="file" name="admin-file-input" accept=".csv" /><md-button ng-show="ac.validInput" class="md-raised md-primary" ng-click="ac.startUpload()">Upload</md-button>
            </md-input-container>
          </section>
        </div>
        <div flex class="md-whiteframe-4dp" layout-padding layout-margin>
          <section id="admin-export-container">
            <h3 class="md-headline">Export Survey Response Data</h3>
            <md-input-container>
              <label>Select Year to Export</label>
              <md-select ng-model="ac.yearToAdd" style="min-width: 200px;">
                <md-option ng-value="year" ng-repeat="year in ac.yearsArray">{{year}}</md-option>
              </md-select>
            </md-input-container class="md-block">
            <md-button class="md-raised md-primary" ng-click="ac.exportAllResponses()">Export Data</md-button>
          </section>
        </div>
      </div>
    </div>
  </md-content>

</div>