<header ng-include="'views/partials/header-login.html'"></header>

<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2><span>Registration Form</span></h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form name="Form" ng-submit="lc.registerUser()">
        <md-input-container class="md-block">
          <label>Login</label>
          <input type="text" name="email" ng-model="lc.user.username" placeholder="register using your aeon.org or aeonmn.org email address" required="" />
          <div ng-messages="Form.email.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Please enter a username.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="lc.user.password" placeholder="password" required="" />
          <div ng-messages="Form.password.$error" role="alert" multiple="">
            <div ng-message="required" class="my-message">Please enter a password.</div>
          </div>
        </md-input-container>
        <md-button ng-disabled="!Form.$valid" type="submit" class="md-raised md-primary">Register</md-button>
        <md-button ng-click="lc.cancelToast($event)" type="button" class="" a href="#home">Cancel</a>
        </md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>