<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" layout-padding layout-margin layout-align="center center">
    <div flex>
        <h1>Site Manager</h1>
        <md-input-container>
            <label>Select a Property</label>
            <md-select ng-model="smc.SiteManagerService.selectedProperty" placeholder="Select a Property">
                <md-option ng-value="property" ng-repeat="property in smc.SiteManagerService.selectProperties">{{ property }}</md-option>
            </md-select>
        </md-input-container>
        <div ng-if="smc.SiteManagerService.selectedProperty">
            <h2>{{smc.SiteManagerService.selectedProperty}}</h2>
            <div layout="row">
                <div flex="25">
                    <h3>Unit #</p>
                </div>rmchar
                <div flex="25">
                    <h3>Responded?</p>
                </div>
                <div flex="25">
                    <h3>Property Occupied?</p>
                </div>
                <div flex="25">
                    <h3>Paid?</h3>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" ng-repeat="property in smc.SiteManagerService.properties.list | filter: smc.SiteManagerService.selectedProperty">
                <div flex="25">
                    <p>{{property.unit}}</p>
                </div>
                <div flex="25">
                    <p><span ng-if="property.responded">{{property.responded}}</span><span ng-if="!property.responded">No Response</span></p>
                </div>
                <div flex="25">
                    <p><span ng-if="property.occupied">Yes</span><span ng-if="!property.occupied">No</span</p>
                </div>
                <div flex="25">
                    <p>
                        <md-checkbox ng-model="property.paid" ng-change="smc.SiteManagerService.updatePaid(property)" aria-label="paid"></md-checkbox>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>