<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>
<md-button class="md-raised md-primary" id="instructionsButton">HELP</md-button>
<h2>1. I feel safe in my apartment unit.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>2. I feel safe in the public areas inside my building (outside my apartment unit).<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>3. I feel safe in outdoor areas near my building.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>4. I feel safe in the neighborhood in which I live.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>5. I help take care of my building.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>6. I report problems in my apartment unit to my site manager.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>7. I report problems in my building to my site manager or the police.
    <br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>8. I avoid talking to other people in my building.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>9. I help my neighbors in my building.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>10. I participate in events in my building.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>11. I participate in events in my neighborhood.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>
<h2>12. I help my building or community.<br>
    <input class="radio" type="radio" name="number" value="1"> 1<br>
    <input class="radio" type="radio" name="number" value="2"> 2<br>
    <input class="radio" type="radio" name="number" value="3"> 3<br>
    <input class="radio" type="radio" name="number" value="4"> 4<br>
    <input class="radio" type="radio" name="number" value="5"> 5<br></h2>

<div layout="row" layout-align="space-around">
<div>
    <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>CANCEL</md-button>
</div>

<div>
    <md-button class="md-raised md-primary" ng-click='sc.go("/survey-intro")'>PREV</md-button>
    <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q2")'>NEXT</md-button>
</div>

</div>