<header ng-include="'/views/partials/header.html'"></header>
<div ng-include="'views/partials/nav.html'"></div>
<div id="bg" alt=""><img src="../../assets/tree-transparent-opacity30-800w.png" alt="Smiley face" height="42" width="42"></div>
<div id="thankyou-message">
    <p>{{sc.surveyObject.thanks}}</p>
    <p>{{sc.surveyObject.requestresults}}</p>
</div>

<div layout="row" layout-align="space-around">
    <div class="cancelbtn-container" layout-align="space-around-center">
        <md-button class="cancelbtn md-raised" ng-click='sc.cancelSurvey(false)'>{{sc.surveyObject.begin}}</md-button>
    </div>