<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>
<md-button class="md-raised md-primary" id="instructionsButton" ng-click="sc.help()">HELP</md-button>



<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.cancelSurvey()'>{{sc.surveyObject.cancel}}</md-button>
    </div>

    <div id="survey-review-button-container">
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-demographics")'>{{sc.surveyObject.previous}}</md-button>
        <md-button class="md-raised md-primary" ng-click="sc.submitSurvey()">{{sc.surveyObject.submit}}</md-button>
    </div>

</div>