<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>

<p ng-repeat="question in sc.surveyObject.two">{{question.question_number}}. {{question.english}}<br>
    <md-button class="md-raised md-primary" ng-click="response.answer1='1'">Strongly Agree</md-button>
    <md-button class="md-raised md-primary" ng-click="response.answer1='2'">Agree</md-button>
    <md-button class="md-raised md-primary" ng-click="response.answer1='3'">Disagree</md-button>
    <md-button class="md-raised md-primary" ng-click="response.answer1='4'">Strongly Disagree</md-button>
</p>


<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>CANCEL</md-button>
    </div>

    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q1")'>PREV</md-button>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q3")'>NEXT</md-button>
    </div>

</div>