<div ng-include="'views/partials/nav.html'"></div>

<div layout="column" layout-align="center center">

<div id="progressBar">This will be a progress bar</div>

<md-button class="md-raised md-primary" id="instructionsButton" ng-click="sc.help()">HELP</md-button>

<section>
    <p>1. {{sc.surveyObject[1]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(1,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>2. {{sc.surveyObject[2]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(2,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>3. {{sc.surveyObject[3]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(3,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>4. {{sc.surveyObject[4]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(4,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>5. {{sc.surveyObject[5]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(5,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 4}">{{sc.surveyObject.answer4}}</md-button>    
</section>
</div>

<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>{{sc.surveyObject.cancel}}</md-button>
    </div>

    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-intro")'>{{sc.surveyObject.previous}}</md-button>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q2")'>{{sc.surveyObject.next}}</md-button>
    </div>

</div>

