<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>
<button id="instructionsButton"><h1>HELP<h1></button>
<h1>Demographics</h1>
<md-button class="md-raised md-primary" id="instructionsButton">HELP</md-button>
<h1>Demographics</h1>

<p ng-repeat="question in sc.surveyObject.demographics">{{question.question_number}}. {{question.english}}</p>

<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>CANCEL</md-button>
    </div>

    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q4")'>PREV</md-button>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-review")'>NEXT</md-button>
    </div>

</div>