<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>
<h1>Disclaimer</h1>
<h2>Thank you for taking this survey to tell Aeon what it’s like to live in your home. All answers are private and will be combined
with everyone else’s answers, so we will not know how you answered each question. You can skip questions or stop the survey
at any time. When answering, please think about the past 12 months. If you have any questions, please talk to your Site Manager
or Resident Connections Coordinator. Surveys are available in English, Hmong, Somali, and Spanish. Other languages can be
made available, please ask your Site Manager. How to turn in your survey to get $10 and be entered in a drawing for gift
cards and one month of free rent:
</h2>

<div layout="row" layout-align="center center">
<md-button class=" md-raised md-primary" ng-click='sc.go("/survey-q1")'>Continue</md-button>
</div>