<div ng-include="'views/partials/nav.html'"></div>

<div layout="row" layout-align="space-around">
    <div layout="column">
        <md-button class=" md-raised md-primary" ng-class="{'md-accent':sc.surveyLanguage.language=='english'}" ng-click='sc.getSurvey("english")'>English</md-button>
        <md-button class=" md-raised md-primary" ng-class="{'md-accent':sc.surveyLanguage.language=='hmong'}" ng-click='sc.getSurvey("hmong")'>Hmoob</md-button>
    </div>

    <div layout="column">
        <md-button class=" md-raised md-primary" ng-class="{'md-accent':sc.surveyLanguage.language=='somali'}" ng-click='sc.getSurvey("somali")'>Somali</md-button>
        <md-button class=" md-raised md-primary" ng-class="{'md-accent':sc.surveyLanguage.language=='spanish'}" ng-click='sc.getSurvey("spanish")'>Espanol</md-button>
    </div>
</div>

<div  layout="row" layout-align="center center">
    <md-select ng-model="slc.propertyChosen">
        <md-option ng-repeat="property in slc.propertyList.list" ng-value="property">{{property}}</md-option>
    </md-select>
    <md-input-container>
        <label>Unit #</label>
        <input ng-model="slc.unitChosen" type="number">
    </md-input-container>
</div>

<div layout="row" layout-align="center center" id="survey-begin-container">
    <md-button class=" md-raised md-primary" ng-click='slc.beginSurvey(slc.propertyChosen, slc.unitChosen)'>Begin Survey</md-button>

</div>