<header ng-include="'/views/partials/header-survey.html'"></header>
<div id="bg" alt="">
    <img src="../../assets/tree-transparent-opacity30-800w.png" alt="Aeon Tree Img" height="42" width="42">
</div>

<div layout="column">
    <div layout="row" layout-align="center">
        <div class="progressbar">
            <i class="material-icons md-48">looks_one</i>
            <i class="material-icons md-48">looks_two</i>
            <i class="material-icons md-48">looks_3</i>
            <i class="material-icons md-48">looks_4</i>
            <i class="material-icons md-48">looks_5</i>
        </div>
    </div>
    <div layout="row" layout-align="center">
        <section class="survey-question" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>23. {{sc.surveyObject[23]}}</p>
            <md-button class="md-raised" ng-click="sc.respond(23,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[22].answer == 1}">{{sc.surveyObject.howlong1}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(23,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[22].answer == 2}">{{sc.surveyObject.howlong2}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(23,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[22].answer == 3}">{{sc.surveyObject.howlong3}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(23,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[22].answer == 4}">{{sc.surveyObject.howlong4}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(23,5)" ng-class="{ 'md-accent': sc.surveyAnswers.list[22].answer == 5}">{{sc.surveyObject.howlong5}}</md-button>
        </section>
    </div>
    <div layout="row" layout-align="center">
        <section class="survey-question" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>24. {{sc.surveyObject[24]}}</p>
            <md-button class="md-raised" ng-click="sc.respond(24,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 1}">{{sc.surveyObject.ethnicity1}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 2}">{{sc.surveyObject.ethnicity2}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 3}">{{sc.surveyObject.ethnicity3}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 4}">{{sc.surveyObject.ethnicity4}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,5)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 5}">{{sc.surveyObject.ethnicity5}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,6)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 6}">{{sc.surveyObject.ethnicity6}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(24,7)" ng-class="{ 'md-accent': sc.surveyAnswers.list[23].answer == 7}">{{sc.surveyObject.ethnicity7}}</md-button>
        </section>
    </div>
    <div layout="row" layout-align="center">
        <section class="survey-question" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>25. {{sc.surveyObject[25]}}</p>
            <md-button class="md-raised" ng-click="sc.respond(25,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[24].answer == 1}">{{sc.surveyObject.gender1}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(25,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[24].answer == 2}">{{sc.surveyObject.gender2}}</md-button>
            <md-input-container class="self-identify-input">
                <label>{{sc.surveyObject.gender3}}</label>
                <input type="text" ng-model="sc.selfIdentify" ng-change="sc.respond(25, 3)">
            </md-input-container>
        </section>
    </div>
    <div layout="row" layout-align="center">
        <section class="survey-question" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>26. {{sc.surveyObject[26]}}</p>
            <md-button class="md-raised" ng-click="sc.respond(26,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 1}">{{sc.surveyObject.age1}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(26,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 2}">d{{sc.surveyObject.age2}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(26,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 3}">{{sc.surveyObject.age3}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(26,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 4}">{{sc.surveyObject.age4}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(26,5)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 5}">{{sc.surveyObject.age5}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(26,6)" ng-class="{ 'md-accent': sc.surveyAnswers.list[25].answer == 6}">{{sc.surveyObject.age6}}</md-button>
        </section>
    </div>
    <div layout="row" layout-align="center">
        <section class="survey-question" flex-gt-xs="80" flex-offsetgt-xs="10">
            <p>27. {{sc.surveyObject[27]}}</p>
            <md-button class="md-raised" ng-click="sc.respond(27,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 1}">{{sc.surveyObject.income1}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 2}">{{sc.surveyObject.income2}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 3}">{{sc.surveyObject.income3}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 4}">{{sc.surveyObject.income4}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,5)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 5}">{{sc.surveyObject.income5}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,6)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 6}">{{sc.surveyObject.income6}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,7)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 7}">{{sc.surveyObject.income7}}</md-button>
            <md-button class="md-raised" ng-click="sc.respond(27,8)" ng-class="{ 'md-accent': sc.surveyAnswers.list[26].answer == 8}">{{sc.surveyObject.income8}}</md-button>
        </section>
    </div>
    <div layout="row" layout-align="center" layout-padding layout-margin>
        <div class="cancelbtn-container" style="margin-right: 150px;">
            <md-button class="cancelbtn md-raised" ng-click='sc.cancelSurvey()'>{{sc.surveyObject.cancel}}</md-button>
        </div>

        <div>
            <md-button id="goBackButton" class="md-raised" ng-click='sc.go("/survey-q4")'>{{sc.surveyObject.goback}}</md-button>
            <md-button class="md-raised md-primary" ng-click='sc.submitSurvey()'>{{sc.surveyObject.submit}}</md-button>
        </div>
    </div>

</div>