<div ng-include="'views/partials/nav.html'"></div>

<div id="progressBar">This will be a progress bar</div>

<md-button class="md-raised md-primary" id="instructionsButton">HELP</md-button>

<section>
    <p>QUESTION ONE ANSWERS</p>

    <md-button class="md-raised" ng-click="sc.respond(1,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 1}">Strongly Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 2}">Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 3}">Disagree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(1,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[0].answer == 4}">Strongly Disagree</md-button>
</section>

<section>
    <p>QUESTION TWO ANSWERS</p>

    <md-button class="md-raised" ng-click="sc.respond(2,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 1}">Strongly Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 2}">Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 3}">Disagree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(2,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[1].answer == 4}">Strongly Disagree</md-button>
</section>

<section>
    <p>QUESTION THREE ANSWERS</p>

    <md-button class="md-raised" ng-click="sc.respond(3,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 1}">Strongly Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 2}">Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 3}">Disagree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(3,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[2].answer == 4}">Strongly Disagree</md-button>
</section>

<section>
    <p>QUESTION FOUR ANSWERS</p>

    <md-button class="md-raised" ng-click="sc.respond(4,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 1}">Strongly Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 2}">Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 3}">Disagree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(4,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[3].answer == 4}">Strongly Disagree</md-button>
</section>

<section>
    <p>QUESTION FIVE ANSWERS</p>

    <md-button class="md-raised" ng-click="sc.respond(5,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 1}">Strongly Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 2}">Agree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 3}">Disagree</md-button>
    <md-button class="md-raised" ng-click="sc.respond(5,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[4].answer == 4}">Strongly Disagree</md-button>
</section>

<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>CANCEL</md-button>
    </div>

    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-intro")'>PREV</md-button>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q2")'>NEXT</md-button>
    </div>

</div>