<h1>Aeon</h1>
<ul>
    <li><a href="#/user">User Home</a></li>
    <li><a href="#/info">Info Page</a></li>
</ul>
<div id="progressBar">This will be a progress bar</div>
<button id="instructionsButton"><h1>HELP<h1></button>
    <h1>Demographics</h1>
<!-- <h2>23. How long have you been a resident at this apartment building?
<br>
    <input type="radio" name="number" value="1"> 1 to 3 months<br>
    <input type="radio" name="number" value="2"> 4 to 11 months<br>
    <input type="radio" name="number" value="3"> 1 to 3 years<br>
    <input type="radio" name="number" value="4"> 3 to 5 years<br>
    </h2>
<h2>24.Please select the category that best describes your ethnicity:<br>
    <input type="radio" name="number" value="1"> American Indian
<br>
    <input type="radio" name="number" value="2">African Immigrant (Somali, Nigerian, Eritrean, other)<br>
    <input type="radio" name="number" value="3"> Asian / Pacific Islander<br>
    <input type="radio" name="number" value="4"> Black / African American<br>
    <input type="radio" name="number" value="5"> Caucasian / White Hipanic/ Latino<br></h2>
<br>
<input type="radio" name="number" value="6"> Other<h2>25. Gender:<br>
    <input type="radio" name="number" value="1"> Male<br>
    <input type="radio" name="number" value="2"> Female<br>
    <input type="radio" name="number" value="3"> Self Identify <input type="text"><br>
  </h2>
<h2>26. Age:<br>
    <input type="radio" name="number" value="1"> Under 18<br>
    <input type="radio" name="number" value="2"> 18-25<br>
    <input type="radio" name="number" value="3"> 26-35<br>
    <input type="radio" name="number" value="4"> 36-45<br>
    <input type="radio" name="number" value="5"> 46-55<br>
    <input type="radio" name="number" value="5"> Over 55<br></h2>
<h2>27.Your household income is:<br>
    <input type="radio" name="number" value="1">  Less than $800/mo. (Less than $9,600/yr.)
<br>
    <input type="radio" name="number" value="2">  $801- 1,300/mo. ($9601 - 15,600/yr.)
<br>
    <input type="radio" name="number" value="3">  $1,301- 1,800/mo. ($15,601 - 21,600/yr.)
<br>
    <input type="radio" name="number" value="4">  $1,801- 2,300/mo. ($21,601- 27,600/yr.)
<br>
    <input type="radio" name="number" value="5">  $2,301- 2,800/mo. ($27,601- 33,600/yr.)
<br>
    <input type="radio" name="number" value="1">  $2,801- 3,300/mo. ($33,601- 39,600/yr.)
<br>
    <input type="radio" name="number" value="2">  $3,301- 3,800/mo. ($39,601- 45,600/yr.)
<br>
    <input type="radio" name="number" value="3">  More than $3,800/mo. (More than 45,600/yr.)
<br></h2>
<br><br><br><br><br><br><br><br><br><br> -->

    <p ng-repeat="question in sc.surveyObject.demographics">{{question.question_number}}. {{question.english}}</p>
    




