<div ng-include="'views/partials/nav.html'"></div>

<div layout="column" layout-align="center center">        

<div id="progressBar">This will be a progress bar</div>

<md-button class="md-raised md-primary" id="instructionsButton" ng-click="sc.help()">HELP</md-button>

<section>
    <p>6. {{sc.surveyObject[6]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(6,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[5].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(6,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[5].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(6,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[5].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(6,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[5].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>7. {{sc.surveyObject[7]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(7,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[6].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(7,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[6].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(7,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[6].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(7,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[6].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>8. {{sc.surveyObject[8]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(8,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[7].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(8,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[7].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(8,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[7].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(8,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[7].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>9. {{sc.surveyObject[9]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(9,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[8].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(9,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[8].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(9,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[8].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(9,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[8].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>10. {{sc.surveyObject[10]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(10,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[9].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(10,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[9].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(10,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[9].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(10,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[9].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>11. {{sc.surveyObject[11]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(11,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[10].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(11,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[10].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(11,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[10].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(11,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[10].answer == 4}">{{sc.surveyObject.answer4}}</md-button>
</section>

<section>
    <p>12. {{sc.surveyObject[12]}}</p>
    <md-button class="md-raised" ng-click="sc.respond(12,1)" ng-class="{ 'md-accent': sc.surveyAnswers.list[11].answer == 1}">{{sc.surveyObject.answer1}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(12,2)" ng-class="{ 'md-accent': sc.surveyAnswers.list[11].answer == 2}">{{sc.surveyObject.answer2}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(12,3)" ng-class="{ 'md-accent': sc.surveyAnswers.list[11].answer == 3}">{{sc.surveyObject.answer3}}</md-button>
    <md-button class="md-raised" ng-click="sc.respond(12,4)" ng-class="{ 'md-accent': sc.surveyAnswers.list[11].answer == 4}">{{sc.surveyObject.answer4}}</md-button> 
</section>
</div>

<div layout="row" layout-align="space-around">
    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-language")'>{{sc.surveyObject.cancel}}</md-button>
    </div>

    <div>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q1")'>{{sc.surveyObject.previous}}</md-button>
        <md-button class="md-raised md-primary" ng-click='sc.go("/survey-q3")'>{{sc.surveyObject.next}}</md-button>
    </div>

</div>
