<header ng-include="'/views/partials/header-logout-button.html'"></header>
<div id="bg" alt="">
    <img src="../../assets/tree-transparent-opacity30-800w.png" alt="Smiley face" height="42" width="42">
</div>
<div layout="column">
    <div layout="row" layout-align="center center">
        <div id="intro-message" flex-gt-xs="80" flex-offsetgt-xs="10">
            <h1>{{sc.surveyObject.survey}}</h1>
            <p>{{sc.surveyObject.intro1}}</p>
            <p>{{sc.surveyObject.intro2}}</p>
        </div>
    </div>
    <div layout="row" layout-align="center" layout-padding>
        <div>
            <md-button id="goBackButton" class="md-raised" ng-href="#/survey-language">{{sc.surveyObject.goback}}</md-button>
        </div>
        <div>
            <md-button class=" md-raised md-primary" ng-click='sc.go("/survey-q1")'>{{sc.surveyObject.begin}}</md-button>
        </div>
    </div>
</div>